.home-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(167deg, var(--jet-black) 0%, var(--darker-royal-blue) 100%);
    overflow: hidden;
    will-change: transform, border-radius;
}

#profile-pic {
    opacity: 0.95;
    float: right;
    position: absolute;
    top: 20px;
    right: 9%;
    box-shadow: 5px 0 30px var(--moonglare-yellow);
    max-width: 350px;
    width: 35%;
    border-radius: 50%;
    animation: fadeInDown 2s ease-in-out;
    transition: transform 0.3s ease, opacity 0.4s ease-in-out;
    z-index: 1000;
}

#profile-pic:hover {
    opacity: 1;
    box-shadow: 10px 0 50px var(--moonglare-yellow);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}