.about-page {
    width: 100%;
    position: relative;
    overflow: hidden;
    will-change: transform, border-radius;
    transition: transform 0.5s ease-out, border-radius 0.5s ease-out;
    background-image: linear-gradient(0deg, rgb(65, 105, 225), rgb(0, 35, 102), rgb(0, 35, 102));
}