header {
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: var(--blur-DRB);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: var(--pearl);
    z-index: 1000;
    animation: fadeInDown 1s ease;
    opacity: 1;
    transition: all 0.3s ease;
    will-change: opacity, transform;
}

header h1 {
    display: inline-block;
    font-size: 1em;
    text-align: center;
    padding: 10px;
    border: 5px solid var(--pearl);
    border-radius: 24px;
}

nav {
    position: sticky;
    top: 68px;
    z-index: 1000;
    animation: fadeInDown 1s ease;
    opacity: 1;
    will-change: opacity, transform;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--pearl);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

nav li {
    padding: 1px 0;
    text-align: center;
    animation: slideInRight 2.5s ease;
}

nav li:hover {
    cursor: pointer;
    background-color: var(--blur-DRB);
    color: var(--pearl);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: all 1s ease;
}

nav li.active a {
    background-color: var(--darker-royal-blue);
    color: var(--pearl);
    text-shadow: 0 0 5px var(--moonglare-yellow);
}

nav a {
    display: block;
    text-decoration: none;
    color: var(--charcoal);
    width: 20vw;
    padding: 20px;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
}

nav a:hover {
    color: inherit;
    text-shadow: 0 0 3px var(--moonglare-yellow);
}

nav a:focus {
    outline: 5px solid var(--moonglare-yellow);
}

@media (max-width: 880px) {
    nav {
        top: 66px;
    }
}