.scroll-view-section {
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}

.scroll-view-content {
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.scroll-view-content.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.scroll-view-content.fade-out {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    /* Prevent interaction when hidden */
}